@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --font-color:#ffffff;
  --sec-font:#ffffff99;
  --main-color: rgb(17, 17, 17);
  --sec-main:#262626;
  --orange-color:rgb(230, 83, 60);
}
body{
   font-family: "Inter", sans-serif;
   max-width: 1440px;
   background-color:var(--main-color);
}

/*shared style start*/
.container{
  margin: 3rem auto;
  width: 80%;
  border-radius: 3px;
  color: var(--font-color);
}


h1{
  font-size: 2.5rem;
}
p{
  color: var(--sec-font);
  font-size: .9rem;
  line-height: 1.3rem;
  opacity: 80%;
}
/*shared style end*/

/*Navbar style start*/
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar i{
  color: var(--font-color);
  font-size: 2.5rem;
  display: none;
}
.brand{
 font-size: 2rem;
 font-weight: 800;
 color:var(--orange-color);
 font-style: italic;
}

.nav-option ul{
  display: flex;
  gap: 3rem;
  list-style: none;
}

ul li , li a{
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--font-color);
  font-weight: 500;
  opacity: 95%;
}

.gift{
  border-top: 2px solid var(--font-color);
  border-bottom: 2px solid var(--font-color);
  color: var(--orange-color);
  font-weight: 700;
  font-size: 1.2rem;
}

/*Navbar style end*/


/*Hero section start*/

.hero-section{
  display: flex;
  align-items: center;
  margin-top: -60px;
}

.hero-content{
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  row-gap: 30px;
}

.hero-content h1{
  font-size:4.5rem ;
  color: var(--font-color);
  line-height:1.2em;
  
}

.hero-content h1 span{
  font-family:"Dancing Script", cursive;
  font-weight:;
  font-size: 6rem;
  text-shadow: 10px 5px 10px var(--font-color);
  cursor: pointer;
  transition: 1s all;
}
.hero-content h1 span:hover{
  transform:rotateZ(720deg);
  display: inline-block;
}

.hero-content p{
  line-height: 1.5rem;
  opacity: 90%;
  color: var(--font-color);
  letter-spacing: 0.03rem;
  font-size: 1rem;
}
.btn-box{
  display: flex;
  gap: 40px;
}
 button , .active{
  padding: 10px 20px;
  font-size: 1.1rem;
  border: 1px solid var(--orange-color);
  background: var(--orange-color);
  color: var(--font-color);
  border-radius: 30px;
  border-top: 2px solid var(--font-color);
  border-left:2px solid var(--font-color);
  transition: .2s ease;
  cursor: pointer;
}

button:hover , .active:hover{
  border-top: 0;
  border-left:0;
  border-bottom: 2px solid var(--font-color);
  border-right:2px solid var(--font-color);
}

.hero-image{
  width: 350px;
  position: relative;
}

.hero-image img{
  width: 100%;
}


.like{
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  color: var(--font-color);
  padding: 15px;
  width: 150px;
  padding: 0;
  border-radius: 8px;
  text-align: center;
}
.like h5{
font-size: 2rem;
}
.btn-1{
  position: absolute;
  left: -35px;
  bottom: 120px;
}

.btn-2{
  position: absolute;
  right: 0;
  top: 130px;
}

/*Hero section end*/

/*your habits section started*/
.change-habits{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  color: var(--font-color);
  margin-top: 50px;
}

.habit-content h1{
  font-size: 2.5rem;
}
.habit-content p{
  padding: 20px 0;
}
.habit-item{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 30px;
}

.habit-item .item {
  display: flex;
  flex-direction: column;align-items: center;
  row-gap: 15px;
  text-align: center;
}

.habit-item .item h6{
  font-size: 1.5rem;
}
.habit-item .item p{
  
}
.habit-item .item img{
  width: 200px;
  border-radius: 50%;
 transition: .2s ease-out;
}
.habit-item .item img:hover{
 border: 5px solid var(--font-color);
}

/*your habits section ended*/


/*Run extra miles section started*/
.run-extra {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 450px 350px;
  justify-content: space-between;
  align-items: center;
  color: var(--font-color);
  background-color: var(--sec-main);
  padding: 40px 25px;
  border-radius: 8px;
}
.run-extra .extra-content{
text-align: left;
}
.run-img{
  overflow: hidden;
  background-position:  center;
  border-radius: 15px;
  width: 100%;
  margin: 0 auto;
}
.run-img img{
  width: 100%;
  transform: scale(3) translatex(-50px) translateY(2rem);
}

.extra-content p{
  padding: 20px 0;
}
/*Run extra miles section ended*/

/*Excercises section started*/
.excerxises{
  margin-top: 50px;
  color: var(--font-color);
}

.excerxises h1{
  padding: 20px 0;
}
.excerxises p{
  padding-bottom: 20px;
}
.train-grid{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  color: var(--orange-color);
}

.row1{
  display: grid;
  grid-template-columns: 250px auto 300px;
  gap: 5px;
}

.row2{
  display: grid;
  grid-template-columns: 400px auto 350px;
  gap: 5px;
}

.row1>div .row2>div{
  height: 200px;
}

.row1 img , .row2 img{
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.image {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}
.image img{
  transition: .3s ease-in ;
}
.image img:hover {
  transform: scale(1.5);
}

.img-1 img{
  filter: brightness(1.6);
}
.img-2 img{
  filter:invert(1);
}
.img-3 img{
  filter: saturate(30);
}
.img-4 img{
  filter: sepia(1);
}
.img-5 img{
  filter: contrast(5);
}
.img-6 img{
  filter: grayscale(1);
}
.img-1 > .content{
  position: absolute;
  top: 200px;
  left: 40px;
}

.img-2 > .content{
  position: absolute;
  top: 40px;
  left: 40px;
}
.img-3 > .content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}
.img-4 > .content{
  position: absolute;
  bottom: 40px;
  left: 40px;
}
.img-5 > .content{
  position: absolute;
  top: 120px;
  right: 40px;
  left: 40px;
}
.img-6 > .content{
  position: absolute;
  top: 40px;
  right: 40px;
  left: 40px;
}

/*Excercises section ended*/


/*bmi-calculator ended*/

.bmi-content{
  margin: 4rem auto;
  width: 80%;
  border-radius: 3px;
  margin-bottom: 2rem;
  color: var(--font-color);
}
.bmi-content h1{
  padding-bottom: .8rem;
}


.bmi-calculator{
  color: var(--font-color);
  display: grid;
  grid-template-columns: 400px 500px;
  justify-content: space-between;
  row-gap: 30px;
  padding: 70px 8rem;
}


.bmi-calculator{
  background-color: var(--sec-main);
}

.bmi-calculator h2{
font-size: 2rem;
}

table, td, th{
border: 1px solid var(--font-color);
border-collapse: collapse;
}

td , input{
  color: var(--sec-font);
}

td, th{
  padding: 8px 15px;
}
.bmi-left h2{
  margin-bottom: 40px;
}
.bmi-right p{
  padding: 20px 0;
}
.right-input{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

input::placeholder ,select option{
  color: var(--sec-font);
  font-size: .9rem;
  padding-left: 10px;
}

.input-box{
  height: 35px;
  width: 200px;
  flex-grow: 1;
  border-radius: 8px;
  border: none;
  background-color: #525659;
  color: var(--font-color);
}


.bmi-right button{
  margin: 20px 0;
}
/*bmi-calculator ended*/


/*Our Team Section started*/
.our-team{
  color: var(--font-color);
}

.team-content p{
  padding: 15px 0;
}

.team-photo img{
  width: 300px;
  height: 270px;
}

.team-photo{
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3 , 300px);
  justify-content: center;
  gap: 15px;
  border-radius: 10px;
  background: var(--sec-main);
}

.photo{
  overflow: hidden;
  position: relative;
  border-radius: 8px;
}

.trainer-details{
  position:absolute;
  bottom: 40px;
  left: 40px;
  color: var(--font-color);
  z-index: 1;
}

/*Our Team Section ended*/

/*my idea showcase section*/

.showcase{
  margin-bottom: 70px;
  height: initial;
}
.gift-hero{
  color: var(--font-color);
  position: relative;
}

.gift-hero video{
  width: 100%;
}

.gift-content{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  text-align: center;
}
.gift-content h1{
  font-size: 3rem;
  font-weight: 900;
  text-transform: capitalize;
}

.gift-content p{
  font-size: 1rem;
  font-weight: 900;
  text-transform: capitalize;
  color: var(--orange-color);
}
.free-head{
 margin: 20px 0;
 text-align: center;
}
.free-item-box{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 360px;
  gap: 30px;
}
.free-item{
  background-color: var(--sec-main);
  border-radius: 10px;
  filter: drop-shadow(5px 5px 5px var(--orange-color));
}
.free-item img{
  width: 100%;
  padding: 5%;
  height: 300px;
  border-radius: 10px;
}

.img-content{
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
}
.img-content button{
padding: 0 15px;
background: none;
}
.img-content button a{
  color: var(--font-color);
  text-decoration: none;
}

/*my idea showcase section*/

/*Footer Section started*/
.footer-content{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.logo-content p{
  padding: 20px 0;
}
.box-btn a{
  margin-right: 20px;
}
.box-btn a :hover{
  color: var(--orange-color);
  padding: 0 10px;
}
.box-btn i{
  font-size: 2rem;
  color: var(--font-color);
}

.nav-content{
  display: flex;
  justify-content: space-around;
}
.footnav h3{
  color: var(--font-color);
  font-size: 1.5rem;
  font-weight: 500;
}

.footnav ul li{
  padding: 10px;
  list-style: none;
  font-size: 0.9rem;
  color: var(--sec-font);
}

.copyright{
  color: var(--font-color);
  width: 100%;
  text-align: center;
}
.copyright p{
  margin-top: 20px;
}
/*Footer section ended*/


@media screen and (max-width: 576px)
{

 .container{
  margin: 10% auto;
  width: 90%;
  border-radius: 3px;
 }

  .nav-option{
    display: none;
  }
  .navbar i{
    display: block;
  }
  .hero-section{
  display: flex;
  flex-direction: column;
  }
  
  .hero-content h1{
    font-size:3.5rem ;
  }
  

  .hero-image{
  width: 350px;
  display: flex;
 }
  .hero-image img {
  width: 60%;
  margin: 0 auto;
  }
  .btn-box{
    justify-content: space-around;
  }
  .btn-1{
  left: 15px;
  bottom: 50px;
}

.btn-2{
  right: 15px;
  top: 100px;
}

.habit-item{
  margin-top: 50px;
  display: grid;
  grid-template-columns:1fr;
  align-items: center;
}

.run-extra {
  margin-top: 70px;
  display: flex;
  flex-direction: column-reverse;
  row-gap: 30px;
}
.run-img{
  width: 100%;
}

.train-grid{
  flex-direction: column;
  row-gap: 40px;
}
.row1 , .row2{
  grid-template-columns: 1fr;
  gap: 40px;
}
.row1 > div, .row2 > div{
  height: 250px;
}

.bmi-calculator{
  grid-template-columns: 1fr;
}

.input-box{
  width: 150px;
  flex-grow: 1;
  border-radius: 8px;
  border: none;
}

.bmi-calculator{
  padding: 10%;
  row-gap: 50px;
 }
 .bmi-left {
  display: flex;
  flex-direction: column;
 }
 .bmi-right{
  display: flex;
  flex-direction: column;
  align-items: center;
 }
.team-photo{
  grid-template-columns: 1fr;
  row-gap: 40px;
}
.photo{
  margin: 0 auto;
}

.footer-content{
  grid-template-columns: 1fr;
  justify-content: center;
  row-gap: 20px;
  text-align: center;
}
/*I can but skip for better view*/

 /*.nav-content{
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}*/
.product-hero video {
  position: relative;
  color: var(--font-color);
}
.product-content{
  position: absolute;
  top: 50%;
  left:50%;
  text-align: center;
}
.product-content h1{
  font-size: 2rem;
}

.free-item-box{
  grid-template-columns: 1fr;
  padding: 0 50px;
  row-gap: 50px;
}
}